# Que. 1. In the below elements which of them are values or an expression?

Answer: 
* = Expression (mathematical operator)
'hello' = string
-87.8 = Float
- = Ecpression (substration)
/ = Division
+ = Addition
6 = Integer

# Que. 2 What is the difference between string and variable?

Answer:
1. String is one of the data types whereas variable is the storage where we can assign the values in it.
2. String is usually words and it is enclosed in "" or '' whereas variable are assigned with any values to it 
with single =.
Example: r = 'kunal', here 'kunal' is the string element whereas r is the variable. r is having a storage value of
'kunal'.


# 3. Describe three different data types.

Answer:
1. Numeric data type: This database represents the numeric values. There are thre different types of numeric data type
    i. Integer : whole number, either negative or positive. Example = 2, 506, 680
    ii. Float : It is the real number with decimal places. It can be either negative or positive. Example = 2.33, 5.67
    iii. Complex: This data type consist of complex entities. For eg. 2+3j
    
2. Sequence type: It consists of sequential pattern of different data types. It is categorised into following groups 
    i. String : This represents the unicode characters. Multiple characters within a string can be put into single, double,
    triple inverted commas.
    
    ii. Lists : Represents the array of characters in a ordered manner. All characters are included inside the
    square bracket []. List is a mutable data type.
    
    iii. Tuple : Tuples are just like a list, an ordered collection of data but are immutable in nature. It can be put
    into bracket ().
    
3. Boolean : This data type has either of the two values, true or false.

In [ ]:
Que 4. What is an expression made up of? What do all expressions do?

Ans : Expressions are the combination of different types of operators with operands which results in different value.
Expressions are made from diffrent types of operators such as arithmatic operators, comparison operators, logical operators
etc.
All expressions do the iterations over predefined operators and variables and create a result with completely
new value.

# For example, Considering arithmetic expresson
a , b = 2, 3
c = a + b
print(c)
# Here c = a + b is the expression. Based on values of a & b, the expression created new value, c.

# Que 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Ans : Expression returns a value over a set of instruction containing variables, different types of operators such as 
arithmetic, logical, comparison operators etc. Whereas, statement takes the every line of code as executable format and
it execute the line. Statement don't need only a mathematical expression to execute on it but it takes every line under 
consideration, for eg. print statement, if else statemet, etc.

#As in a given example, spam = 10

spam = 10

#Here we've assigned the value 10 for 'spam'. It can be called as expression (and also a statement).

print(spam)

#but while we use print statement, we can't say it as a expression.

# 6. After running the following code, what does the variable bacon contain?

In [1]:
bacon = 22
bacon + 1

bacon = 22
bacon + 1
# after running the code, the variable bacon contain the value 22.  
bacon

22

# 7. What should the values of the following two terms be?

In [16]:
"""

'spam' + 'spamspam'
'spam' * 3

"""
print('spam'+'spamspam')
print('spam'*3)

spamspamspam
spamspamspam

# Que 8. Why is eggs a valid variable name while 100 is invalid?

Answer : variable name cannot starts with a number

# Que 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [25]:
# Answer : int(), float(), str()

#Example,
a = 2.65
a = int(a)
print(a, type(a))

a = float(a)
print(a, type(a))

a = str(a)
print(a, type(a))

2 <class 'int'>
2.0 <class 'float'>
2.0 <class 'str'>

# 10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [2]:

#This code can't take strings with integers. So we can conver integer, which is 99, into the string.
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'